@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>DTS</title>
    <meta charset="utf-8" />
    <meta name="description" content="Metronic admin dashboard" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta name="access-token" content="@(User.FindFirst("AccessToken")?.Value ?? "")" />
    <link rel="shortcut icon" href="~/assets/media/logos/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <link href="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)
    <style>
        #kt_app_header {
            background-color: #1e1e2d;
            border-bottom: 1px solid #2B2B40;
        }

        .app-header .menu-title {
            color: #ffffff !important;
            font-weight: 500 !important;
        }

        .app-header .menu-icon i {
            color: #ffffff !important;
            opacity: 1 !important;
        }

        .app-header .menu-item.show .menu-link,
        .app-header .menu-item.hover .menu-link {
            background-color: #2B2B40 !important;
        }

        .app-header .menu-link:hover {
            background-color: #2B2B40 !important;
        }

        .app-header .menu-icon i .path1,
        .app-header .menu-icon i .path2,
        .app-header .menu-icon i .path3,
        .app-header .menu-icon i .path4 {
            color: #ffffff !important;
            opacity: 1 !important;
        }

        .menu-sub-dropdown {
            background-color: #ffffff !important;
        }

        .menu-sub-dropdown .menu-link {
            color: #3F4254 !important;
        }

        .menu-sub-dropdown .menu-link:hover {
            background-color: #F4F6FA !important;
        }

        .app-header .symbol-label i {
            color: #ffffff !important;
        }
    </style>
</head>

<body id="kt_app_body" data-kt-app-layout="light-header" data-kt-app-header-fixed="true" data-kt-app-toolbar-enabled="true" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled">
    <div class="d-flex flex-column flex-root app-root" id="kt_app_root">
        <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
            <div id="kt_app_header" class="app-header" data-kt-sticky="true" data-kt-sticky-activate="{default: true, lg: true}" data-kt-sticky-name="app-header-minimize" data-kt-sticky-offset="{default: '200px', lg: '0'}" data-kt-sticky-animation="false">
                <div class="app-container container-fluid d-flex align-items-stretch justify-content-between" id="kt_app_header_container">
                    <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0 me-lg-15">
                        <a href="/">
                            <img src="~/assets/media/logos/butterfly1-logo.svg" width="40" height="40" alt="Site Logo">
                        </a>
                    </div>
                    <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1" id="kt_app_header_wrapper">
                        <div class="app-header-menu app-header-mobile-drawer align-items-stretch">
                            <div class="menu menu-rounded menu-column menu-lg-row menu-active-bg menu-state-primary menu-title-gray-700 menu-arrow-gray-400 fw-semibold my-5 my-lg-0 align-items-stretch px-2 px-lg-0" id="kt_header_menu" data-kt-menu="true">
                                <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion me-0 me-lg-2">
                                    <span class="menu-link py-3">
                                        <span class="menu-icon">
                                            <i class="fas fa-database fs-2 text-white"></i>
                                        </span>
                                        <span class="menu-title">Ana Kayıtlar</span>
                                        <span class="menu-arrow d-lg-none"></span>
                                    </span>
                                    <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown px-lg-2 py-lg-4 w-lg-250px">
                                        <div class="menu-item">
                                            <a class="menu-link py-3" href="/Species/Index">
                                                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                                                <span class="menu-title">Türler</span>
                                            </a>
                                        </div>
                                        <div class="menu-item">
                                            <a class="menu-link py-3" href="/Genus/Index">
                                                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                                                <span class="menu-title">Cinsler</span>
                                            </a>
                                        </div>
                                        <div class="menu-item">
                                            <a class="menu-link py-3" href="/Family/Index">
                                                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                                                <span class="menu-title">Familyalar</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion me-0 me-lg-2">
                                    <span class="menu-link py-3">
                                        <span class="menu-icon">
                                            <i class="fas fa-binoculars fs-2 text-white"></i>
                                        </span>
                                        <span class="menu-title">Gözlem Kayıtları</span>
                                        <span class="menu-arrow d-lg-none"></span>
                                    </span>
                                    <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown px-lg-2 py-lg-4 w-lg-250px">
                                        <div class="menu-item">
                                            <a class="menu-link py-3" href="/Observation/Index">
                                                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                                                <span class="menu-title">Gözlemler</span>
                                            </a>
                                        </div>
                                        <div class="menu-item">
                                            <a class="menu-link py-3" href="/Observer/Index">
                                                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                                                <span class="menu-title">Gözlemciler</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion me-0 me-lg-2">
                                    <span class="menu-link py-3">
                                        <span class="menu-icon">
                                            <i class="fas fa-map-marked-alt fs-2 text-white"></i>
                                        </span>
                                        <span class="menu-title">Konum Bilgileri</span>
                                        <span class="menu-arrow d-lg-none"></span>
                                    </span>
                                    <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown px-lg-2 py-lg-4 w-lg-250px">
                                        <div class="menu-item">
                                            <a class="menu-link py-3" href="/Province/Index">
                                                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                                                <span class="menu-title">İller</span>
                                            </a>
                                        </div>
                                        <div class="menu-item">
                                            <a class="menu-link py-3" href="/ObservationMap/Index">
                                                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                                                <span class="menu-title">Harita Görünümü</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion me-0 me-lg-2">
                                    <span class="menu-link py-3">
                                        <span class="menu-icon">
                                            <i class="fas fa-exchange-alt fs-2 text-white"></i>
                                        </span>
                                        <span class="menu-title">Veri Aktarımı</span>
                                        <span class="menu-arrow d-lg-none"></span>
                                    </span>
                                    <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown px-lg-2 py-lg-4 w-lg-250px">
                                        <div class="menu-item">
                                            <a class="menu-link py-3" href="/Import/Index">
                                                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                                                <span class="menu-title">İçe Aktar</span>
                                            </a>
                                        </div>
                                        <div class="menu-item">
                                            <a class="menu-link py-3" href="/Export/Index">
                                                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                                                <span class="menu-title">Dışa Aktar</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="app-navbar flex-shrink-0">
                            <div class="app-navbar-item ms-1 ms-lg-3" id="kt_header_user_menu_toggle">
                                <div class="cursor-pointer symbol symbol-35px symbol-md-40px" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
                                    <div class="symbol-label fs-2 bg-light-primary text-primary">
                                        <i class="ki-duotone ki-user fs-2">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </div>
                                </div>
                                <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6 w-275px" data-kt-menu="true">
                                    <div class="menu-item px-3">
                                        <div class="menu-content d-flex align-items-center px-3">
                                            <div class="symbol symbol-50px me-5">
                                                <div class="symbol-label fs-2 bg-light-primary text-primary">
                                                    <i class="ki-duotone ki-user fs-1">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                    </i>
                                                </div>
                                            </div>
@*                                             <div class="d-flex flex-column">
                                                <div class="fw-bold d-flex align-items-center fs-5">Kullanıcı</div>
                                                <a href="#" class="fw-semibold text-muted text-hover-primary fs-7">kullanici@example.com</a>
                                            </div> *@
                                        </div>
                                    </div>
                                    <div class="menu-item px-5">
                                        <form action="/Logout/Logout" method="post" style="margin: 0;">
                                            @Html.AntiForgeryToken()
                                            <button type="submit" class="menu-link px-5 btn btn-link text-start w-100 p-0" style="border: none; background: none; color: inherit; text-decoration: none;">
                                                <i class="fas fa-sign-out-alt me-2"></i>Çıkış Yap
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
                <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                    <div class="d-flex flex-column flex-column-fluid">
                        <div id="kt_app_content" class="app-content flex-column-fluid">
                            <div id="kt_app_content_container" class="app-container container-fluid">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
        <i class="ki-duotone ki-arrow-up">
            <span class="path1"></span>
            <span class="path2"></span>
        </i>
    </div>

    <script>var hostUrl = "~/assets/";</script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/apiconfig.js"></script>
    <script src="~/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/assets/js/scripts.bundle.js"></script>

    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/map.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/continentsLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/usaLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZonesLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZoneAreasLow.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="~/assets/js/widgets.bundle.js"></script>
    <script src="~/assets/js/custom/widgets.js"></script>
    <script src="~/assets/js/custom/apps/chat/chat.js"></script>
    <script src="~/assets/js/custom/utilities/modals/upgrade-plan.js"></script>
    <script src="~/assets/js/custom/utilities/modals/create-app.js"></script>
    <script src="~/assets/js/custom/utilities/modals/new-target.js"></script>
    <script src="~/assets/js/custom/utilities/modals/users-search.js"></script>
    <script src="~/assets/js/custom/apps/user-management/permissions/list.js"></script>
    <script src="~/assets/js/custom/apps/customers/list/export.js"></script>
    <script src="~/assets/js/custom/apps/customers/list/list.js"></script>
    <script src="~/assets/js/custom/apps/customers/add.js"></script>
    <script>
        $(document).ready(function() {
            $.ajaxSetup({
                beforeSend: function(xhr) {
                    const token = '@(User.FindFirst("AccessToken")?.Value ?? "")';
                    if (token) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + token);
                    }
                }
            });
        });
    </script>

    <script>
        (function() {
            const originalFetch = window.fetch;
            const token = document.querySelector('meta[name="access-token"]')?.content;

            window.fetch = function(url, options = {}) {
                if (token) {
                    options.headers = {
                        ...options.headers,
                        'Authorization': `Bearer ${token}`
                    };
                }
                return originalFetch(url, options);
            };
        })();
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>